@page
@model WebAppRazorPages.Pages.EditCarModel
@{
}

<form method="post">
    <p>ID: @Model?.Car?.Id</p>
    <label for="BrandCar">Марка ТС</label>
    <input asp-for="Car.BrandCar" type="text" id="BrandCar" name ="BrandCar"><span asp-validation-for="Car.BrandCar"></span>
    <h1></h1>
    <label for="Model">Модель ТС</label>
    <input asp-for="Car.Model" type="text" id="Model" name ="Model"><span asp-validation-for="Car.Model"></span>
    <h2></h2>
    <label for="EngineCar">Тип двигателя</label>
    <input asp-for="Car.EngineCar" type="text" id="EngineCar" name ="EngineCar"><span asp-validation-for="Car.EngineCar"></span>
    <button type="submit" class="btn btn-primary" >Сохранить</button>
</form>








